@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  margin: 0;
}

.main-title {
  font-family: "Black Ops One";
  font-size: 5rem;
  /* margin-top: 0; */
}

.score-and-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin-bottom: 30px;
  width: 600px;

  font-family: "Black Ops One";
}

.info {
  display: flex;
  gap: 20px;
}

.score-div,
.time-div {
  display: flex;
  gap: 10px;
}

.gameMode {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  top: 0px;
  right: 20px;
}

.gameMode h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.button {
  width: 200px;
  height: 50px;
  background-color: rgb(40, 67, 85);
  border-radius: 10px;

  font-family: "Black Ops One";
  font-size: 1.2rem;
  color: aquamarine;
}

.button:hover {
  background-color: rgb(42, 91, 124);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  height: 660px;
}

.square {
  width: 200px;
  height: 200px;
  border: 10px inset rgb(58, 48, 27);
  border-radius: 20px;
}

.mole {
  background-image: url("./images/mole.png");
  background-size: cover;
}

/* Styles for the burger icon */
.burger-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.burger-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

@media (max-width: 900px) {
    .gameMode h2 {
        display: none;
    }

  .burger-icon {
    display: block; /* Show the burger icon on smaller screens */
  }

  .gameMode {
    display: none; /* Hide the game modes on smaller screens */
    left: 10px;
    margin: 1% 0 0 5%;
    width: 100%;
    
  }

  .button {
    width: 22%;
    height: 42px;
  }
}
